html {
  background-color: black;
  color: yellow;
  font-family: Sans-serif;
}

.container {
  text-align: center;
  padding: 5px;
  border: 2px solid blue;
  margin: auto;
  width: 90%;
  height: 50px;
}

h1 {
  border: 2px solid blue;
  padding: 10px;
}

